<title>{{ site.title | escape }} - 个人主页</title>
<meta name="description" content="{{ page.description | default: site.description | escape }}">
<meta property="og:locale" content="zh_CN">
<meta property="og:site_name" content="{{ site.title | escape }}">
<meta property="og:title" content="{{ site.title | escape }} - 个人主页">
<meta property="og:description" content="{{ page.description | default: site.description | escape }}">
<link rel="canonical" href="{{ page.url | absolute_url }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
